<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Site</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.min.css">
</head>
<style>
  .butonout {
    text-align: center;
  }

  body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #c04848, #480048)
  }
  .similar{
    text-decoration:underline;
    color: red;
  }

</style>
 <body>
  {% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar- bg-dark">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">w2watch</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/movie">Recommend</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sentiment">Sentiment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/signout">Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>
  
  {% else %}
  <nav class="navbar navbar-expand-lg navbar- bg-dark">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">w2watch</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/movie">Recommend</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sentiment">Sentiment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/signin">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
  {% endif %}
  {% block content %}
  
  
  
  
  <div class="movie" style="color: #E8E8E8;">
    <center>
      <div class="similar">
        <h1>Movies similar to "{{c}}"</h1>
      </div>
      
    </center>
  </div>
  
  <div class="list-recommend" style="margin-top: 50px;margin-bottom: 70px;text-align: center;">
    <ul class="list-group list-group-flush"
      style="margin-left: auto;margin-right: auto;text-align: center;width: 40%;color: #E8E8E8;">
      {% for i in d %}
      <li class="list-group-item" style="background-color:#e5091485;"><strong>{{i}}</strong></li>
      {% endfor %}
      <a href="/movie">Go Back & Get Recommended Again !!</a>
    </ul>
  
  </div>
  
  
  {% endblock %}
 
 </body> 


